<h1>Contact</h1>
<div>
   Fist Name: <%= @contact.first_name %>
</div>
<div>
   Last Name: <%= @contact.last_name %>
</div>
<div>
   Email: <%= @contact.email %>
</div>
<div>
   Phone Number: <%= @contact.phone_number %>
</div>

<a href = "<%= "/contacts/#{@contact.id}/edit" %>"> <input type = "submit" value = "Edit"> </a>

<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type = "submit" value = "delete">
<% end %>