<h1>Contact</h1>
<div>
   Full Name: <%= @contact.full_name %>
</div>

<div>
   Email: <%= @contact.email %>
</div>
<div>
   Phone Number: <%= @contact.phone_number %>
</div>

<div>
   Biography: <%= @contact.bio %>
</div>

<div>
  Updated date : <%= @contact.dateupdated %>
</div>
Groups:
<% @contact.groups.each do |group| %>
  <li><%= group.name %></li>
<% end %>


<a href = "<%= "/contacts/#{@contact.id}/edit" %>"> <input type = "submit" value = "Edit"> </a>

<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type = "submit" value = "delete">
<% end %>