<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% flash.each do |name, message| %>

     <div class="alert alert-<%= name %>" role="alert">

      <a href="/products" class="alert-link"><%= message %></a>
    </div>

    <% end %>
    
    <%= yield %>
  </body>
</html>
